<!DOCTYPE html>
<html>
    <head>
        <title>Engineering!</title>
    </head>
    <body>
        <h1>You got Engineering!</h1>
        <br>
        <img src="https://www.brooksonone.co.uk/blog/wp-content/uploads/2016/09/engineering-blueprint.jpg" alt="engineering" height="350" width="500"/>
        <br>
         <h2> Civil Engineer</h2>
         <h3>As a civil engineer, you create, improve and protect the environment in which we live. You plan, design and oversee construction and maintenance of building structures and infrastructure, such as roads, railways, airports, bridges, harbours, dams, irrigation projects, power plants, and water and sewerage systems. You must have excellent communication and technical skills, as well as creativity and critical thinking. Within the field of Enginneering, you might want to consider becoming a Civil Enginneer, Arctecual Enginneer, or a Mechanical Engineer.</h3>
        <br>
        <h3>Colleges you might want to consider include: 
        <h3>Georgia Institute of Technology is a technology and STEM focused school that is top ranked nationally as a public research institute located in Atlanta, Georgia </h3>
        <h3>Texas A&M University, with its practical and “real world” approach to engineering, is a perfect fit for students wanting to learn outside of a traditional classroom and a lively social life located in College Station, Texas. </h3>
        <br>
        <h2>Summer Programs</h2>
        <br>
        <h2>There are many summer programs and opportunities available for high school students just like you! Please note that many of the following offer need-based scholarships, so the tuition listed may differ based on situation.</h2>
        <br>

<h3> This is a 4 week camp that takes place in Syracuse, NY and costs $6,000. </h3>
<a href=“http://summercollege.syr.edu/program/engineering/”>Architecture College Teen Summer Program</a>

<h3> This is a 8 day camp that takes place in multiple locations and costs $3095. </h3>
<a href= “https://www.nslcleaders.org/youth-leadership-programs/engineering-summer-programs/#section-2”>NSLC Engineering Summer Program</a>

<h3> This is a 2 week camp that takes place in Syracuse, NY and costs $2,000+. </h3>
<a href= “http://summercollege.syr.edu/program/engineering/”>Civil and Environmental Engineering Summer Program</a>

<h3> This is a 6 week camp that takes place in Cambridge, MA and is free. </h3>
<a href= “http://oeop.mit.edu/programs/mites/program-details”> MITES Architecture Summer Program</a>

<h3> This is a 6 week camp that takes place in Cambridge, MA and is free. </h3>
<a href= “http://oeop.mit.edu/programs/mites/program-details”> MITES Engineering Design Summer Program</a>

<h3> This is a 6 week camp that takes place in Boston, MA and is free. </h3>
<a href= “http://www.bu.edu/summer/high-school-programs/research/internship/”> RISE: Internship Mechanical Engineering Summer Program</a>
</body>
</html>

    <h3> More inforamtion about becoming a a Civil Engineer can be found at:</h3>
    <a href=“”></a>
<a href="http://summercollege.syr.edu/program/engineering/"