<!DOCTYPE html>
<html>
    <head>
        <title>Engineering!</title>
    </head>
    <body>
        <h1>You got Engineering!</h1>
        
         <img src="https://www.brooksonone.co.uk/blog/wp-content/uploads/2016/09/engineering-blueprint.jpg" alt="engineering" height="350" width="500"/>
        <br>
        
          <h2>Summer Programs</h2>
        <br>
        <h2>There are many summer programs and opportunities available for high school students just like you! Please note that many of the following offer need-based scholarships, so the tuition listed may differ based on situation.</h2>
        <br>

        <h3> This is a 4 week camp that takes place in Syracuse, NY and costs $6,000. </h3>
        <a href=“http://summercollege.syr.edu/program/engineering/”>Architecture College Teen Summer Program</a>

        <h3> This is a 8 day camp that takes place in multiple locations and costs $3095. </h3>
        <a href= “https://www.nslcleaders.org/youth-leadership-programs/engineering-summer-programs/#section-2”>NSLC Engineering Summer Program</a>

        <h3> This is a 2 week camp that takes place in Syracuse, NY and its cost starts at $2,000. </h3>
        <a href= “http://summercollege.syr.edu/program/engineering/”>Civil and Environmental Engineering Summer Program</a>

        <h3> This is a 6 week camp that takes place in Cambridge, MA and is free. </h3>
        <a href= “http://oeop.mit.edu/programs/mites/program-details”> MITES Architecture Summer Program</a>

        <h3> This is a 6 week camp that takes place in Cambridge, MA and is free. </h3>
        <a href= “http://oeop.mit.edu/programs/mites/program-details”> MITES Engineering Design Summer Program</a>

        <h3> This is a 6 week camp that takes place in Boston, MA and is free. </h3>
        <a href= “http://www.bu.edu/summer/high-school-programs/research/internship/”> RISE: Internship Mechanical Engineering Summer Program</a>
        <br>
     
        <h2>Within the field of Engineering, you might want to consider becoming a Civil Engineer, Architectural Engineer, or a Mechanical Engineer.</h2>
        <br>
         <h2>Civil Engineer</h2>
         <h3>As a civil engineer, you create, improve and protect the environment in which we live. You plan, design and oversee construction and maintenance of building structures and infrastructure, such as roads, railways, airports, bridges, harbours, dams, irrigation projects, power plants, and water and sewerage systems. You must have excellent communication and technical skills, as well as creativity and critical thinking. Within the field of Engineering, you might want to consider becoming a Civil Engineer, Architectural Engineer, or a Mechanical Engineer.</h3>
        <h3>Colleges you might want to consider include:</h3> 
        <h3>Georgia Institute of Technology is a technology and STEM focused school that is top ranked nationally as a public research institute located in Atlanta, Georgia. </h3>
        <h3>Texas A&M University, with its practical and “real world” approach to engineering, is a perfect fit for students wanting to learn outside of a traditional classroom and a lively social life located in College Station, Texas. </h3>
    	<br>
        <a href=“https://targetjobs.co.uk/careers-advice/job-descriptions/278929-civil-engineer-job-description”>Click here for more information about becoming a Civil Engineer</a>
        <br>
        
         <h2> Mechanical Engineer</h2>
         <h3> As a mechanical engineer, you design power-producing machines such as electric generators, internal combustion engines, and steam and gas turbines as well as power-using machines, such as refrigeration and air-conditioning systems. You also design other machines inside buildings, such as elevators and escalators. You must have excellent communication and technical skills, as well as creativity and the ability to work under pressure.</h3>
        <h3>Colleges you might want to consider include: 
        <h3> Georgia Institute of Technology is a technology and STEM focused school that is top ranked nationally as a public research institute located in Atlanta, Georgia. </h3>
        <h3>Texas A&M University, with its practical and “real world” approach to engineering is a perfect fit for students wanting to learn outside of a traditional classroom and a lively social life located in College Station, Texas. </h3>
	    <br>
	    
	    <h2>Architectural Engineer</h2>
         <h3> As an architectural engineer, you help create efficient buildings and building systems. You also often work on projects with other professionals, including construction workers and architects. You apply science and technology to the real world by designing buildings that enhance our standard of living and improve our quality of life. You must have communication and design skills, as well as computer literacy.</h3>
        <h3>Colleges you might want to consider include: 
        <h3> Cornell College’s Department of Biological and Environmental Engineering has a focus on research in biology and the environment and public outreach. </h3> href=“https://study.com/articles/Architectural_Engineers_Job_Description_and_Requirements_for_a_Career_in_Architectural_Engineering.html”></a>
</body>
</html>