<!DOCTYPE html>
<html>
    <head>
        <title>STEM Quiz</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
      <br>
      <br>
      <br>
      <br>
      <h1 id="title"><b>Find your STEM Passion!</b></h1>
      <div class="quiz">
        <h3 id="class">Which of the following high school classes sounds most interesting to you?</h3>
        <form method="POST">
        <input type="radio" name="classes" value="7">Statistics<br>
        <input type="radio" name="classes" value="1">Chemistry<br>
        <input type="radio" name="classes" value="3">Computer Science<br>
        <input type="radio" name="classes" value="5">Robotics<br>
        
        <h3>Which of the following working environments sounds most ideal to you?</h3>
        
        <input type="radio" name="environment" value="3">Working on a computer<br>
        <input type="radio" name="environment" value="5">Designing<br>
        <input type="radio" name="environment" value="1">A lab<br>
        <input type="radio" name="environment" value="7">A quiet room<br>
        
        <h3>What kind of learner are you?</h3>
        <input type="radio" name="learner" value="3">Visual<br>
        <input type="radio" name="learner" value="1">Oral<br>
        <input type="radio" name="learner" value="7">Abstract<br>
        <input type="radio" name="learner" value="5">Hands-on<br>
        
        <h3>Which of the following tools do you prefer using when solving logic problems?</h3>
        
        <input type="radio" name="tools" value="3">Computer<br>
        <input type="radio" name="tools" value="7">Paper/pencil<br>
        <input type="radio" name="tools" value="5">Compass<br>
        <input type="radio" name="tools" value="1">Protractor<br>
        
        <h3>How much do you prefer practical vs theoretical knowledge?</h3>
        
        <input type="radio" name="knowledge" value="5">100% practical<br>
        <input type="radio" name="knowledge" value="7">100% theoretical<br>
        <input type="radio" name="knowledge" value="3">Less practical, more theoretical<br>
        <input type="radio" name="knowledge" value="1">More practical, less theoretical<br>
        
        <h3>Which of these questions are you most inclined to ask?</h3>
        
        <input type="radio" name="question" value="3">How?<br>
        <input type="radio" name="question" value="1">Why?<br>
        <input type="radio" name="question" value="5">Why not?<br>
        <input type="radio" name="question" value="7">What?<br>
        
        <h3>Which skills pertains most to you?</h3>
        
        <input type="radio" name="skills" value="1">Research skills<br>
        <input type="radio" name="skills" value="5">Designing<br>
        <input type="radio" name="skills" value="3">Critical thinking skills<br>
        <input type="radio" name="skills" value="7">Problem-solving skills<br>
        <br>
        <input type="submit" value="Find your STEM Field!">
        </form>
      </div>
    </body>
</html>