<!DOCTYPE html>
<html>
    <head>
        <title>Math!</title>
    </head>
    <body>
        <h1>You got Math!</h1>
        <br>
        <img src="https://www.imperial.ac.uk/news/image/mainnews2012/25253.jpg" alt="math" height="350" width="500"/>
        <br>
        <h2>Summer Programs</h2>
        <br>
        <h2>There are many summer programs and opportunities available for high school students just like you! Please note that many of the following offer need-based scholarships, so the tuition listed may differ based on situation.</h2>
        <br>

<h3> This is a 2 week camp that takes place in multiple locations and costs $3500+. </h3>
<a href= “https://www.awesomemath.org/summer-program/overview/program-information”>AwesomeMath Summer Program</a> 
 
<h3> This is a 4 week camp that take place in Stanford, CA and costs $6500. </h3>
<a href= “http://sumac.stanford.edu/program-dates-and-tuition”>Stanford Math Camp</a>

<h3> This is a 2 week camp that takes place in Chestnut Hill, MA and costs $5500. </h3>
<a href= “https://www.bc.edu/bc-web/sites/bc-experience/programs/credit-programs/math-experience.html”>Boston College Math Experience</a>

 <h3> This is a 5 day camp that takes place in Ann Arbor, MI and costs $495. </h3>
<a href= “https://midas.umich.edu/camp/”>Data Science Summer Camp</a>
 
<h3> This is a 2 week camp that takes place in San Marcos, TX and costs $4000.</h3>
<a href= “http://www.txstate.edu/mathworks/camps/Summer-Math-Camps-Information/hsmc.html”>Honors Math Summer Camp </a>

<h3> This is a 2 week camp that takes place in Austin, TX and costs $1950. </h3>
<a href= “https://outreach.uteach.utexas.edu/research-statistics-camp”>Research and Statistics Camp </a>
    </body>
</html>