<!DOCTYPE html>
<html>
    <head>
        <title>Math!</title>
    </head>
    <body style="background-color:#C1EAF7;">
        <h1>You got Math!</h1>
        <br>
         <img src="https://www.imperial.ac.uk/news/image/mainnews2012/25253.jpg" alt="math" height="350" width="500"/>
        <br>
        <h3> This is a 2 week camp that takes place in multiple locations and its cost starts at $3500. </h3>
        <a href= “https://www.awesomemath.org/summer-program/overview/program-information”>AwesomeMath Summer Program</a> 
 
        <h3> This is a 4 week camp that take place in Stanford, CA and costs $6500. </h3>
        <a href= “http://sumac.stanford.edu/program-dates-and-tuition”>Stanford Math Camp</a>

        <h3> This is a 2 week camp that takes place in Chestnut Hill, MA and costs $5500. </h3>
        <a href= “https://www.bc.edu/bc-web/sites/bc-experience/programs/credit-programs/math-experience.html”>Boston College Math Experience</a>

         <h3> This is a 5 day camp that takes place in Ann Arbor, MI and costs $495. </h3>
        <a href= “https://midas.umich.edu/camp/”>Data Science Summer Camp</a>
 
        <h3> This is a 2 week camp that takes place in San Marcos, TX and costs $4000.</h3>
        <a href= “http://www.txstate.edu/mathworks/camps/Summer-Math-Camps-Information/hsmc.html”>Honors Math Summer Camp </a>

        <h3> This is a 2 week camp that takes place in Austin, TX and costs $1950. </h3>
        <a href= “https://outreach.uteach.utexas.edu/research-statistics-camp”>Research and Statistics Camp </a>
    
        <br>
        <h2>Within the field of mathematics, you might want to consider becoming a mathematician, data analyst, or statistician.</h2>
        <br>
        <h2>Mathematician:</h2>
        <h3>As a mathematician, you expand knowledge in mathematical areas, such as algebra or geometry, by developing new rules, theories, and concepts. You use theories and techniques, such as mathematical modeling and computational methods, to formulate and solve practical problems in business, government, engineering, and the physical, life, and social sciences. You must have critical and analytical thinking as well as problem solving skills.</h3>
        <h3>Colleges you might want to consider include: </h3>
        <h3>Massachusetts Institute of Technology’s Department of Technology, located in Boston Massachusetts, is a one of the leading mathematics departments in the USA and the world, allowing students to work aside some of the world’s brightest professors and graduate students. </h3>
        <h3>University College London Mathematics Department offers a rigorous academic program and is perfect for student looking to study abroad without having to speak a foreign language.</h3> 
        <a href = “https://www.truity.com/career-profile/mathematician”> Find out more information!</a>
        <br>
        <h2>Data Analyst</h2>
        <h3>As a data analyst, you basically translate numbers into plain English. Every business collects data, whether it's sales figures, market research, logistics, or transportation costs. It is your job to take that data and use it to help companies make better business decisions. You should have analytical and numeracy skills. You should pay attention to details and be able to communicate effectively.</h3>
        <h3>Colleges you might want to consider include:</h3>
        <h3>The University of California San Diego offers a free online course on Python for Data Science that teaches you the skills you need to get into the workforce without a degree.</h3> 
        <h3>The Massachusetts Institute of Technology’s Department of Technology, located in Boston, Massachusetts, is a one of the leading mathematics departments in the USA and the world, allowing students to work aside some of the world’s brightest professors and graduate students. Top level data analysis are commonly expected to have a Data Analyst Certification which can be obtained after you complete a Bachelor's Degree as well as 3-4 years in the workforce.</h3>
        <a href = “https://www.snagajob.com/job-descriptions/data-analyst/”> Find out more information!</a>
        <br>
        <h2>Statistician</h2>
        <h3>As a statistician, you work with formulas and data to help solve problems in industry, academia, and government. You gather numerical data display it in a readable way, helping companies to make sense of quantitative data and to spot trends and make predictions. You must have mathematical ability and computer literacy, a clear understanding of statistical terms and concepts, and analytical skills.</h3>
        <h3>College you might want to consider include:<h3> 
        <h3>Columbia University is an elite Ivy League university that offers a Statistics major that focuses on statistical methods, study design, and data analysis in the bustling city of New York.</h3>
        <h3>Massachusetts Institute of Technology’s Department of Technology, located in Boston, Massachusetts, is a one of the leading mathematics departments in the USA and the world, allowing students to work aside some of the world’s brightest professors and graduate students.</h3>
        <a href = “https://targetjobs.co.uk/careers.../job-descriptions/279107-statistician-job-description”> Find out more information!</a>
        <br>
        <h2>Summer Programs</h2>
        <br>
        <h2>There are many summer programs and opportunities available for high school students just like you! Please note that many of the following offer need-based scholarships, so the tuition listed may differ based on situation.</h2>
        <br>
        
    </body>
</html>