<!DOCTYPE html>
<html>
    <head>
        <title>Science!</title>
    </head>
    <body>
        <h1>You got Science!</h1>
        <br>
        <img src="https://cdn-a.william-reed.com/var/wrbm_gb_food_pharma/storage/images/7/6/8/9/2499867-1-eng-GB/Venn-offers-7.2m-for-Kinesis-to-boost-toxicology-testing-offering.jpg" alt="science" height="350" width="500"/>
        <br>
        <h2>Summer Programs</h2>
        <br>
        <h2>There are many summer programs and opportunities available for high school students just like you! Please note that many of the following offer need-based scholarships, so the tuition listed may differ based on situation.</h2>
        <br>

<h3> This is a 5 day camp that takes place in Oakland, CA and costs $1000 </h3>
<a href= “http://misahealth.com/apply-online/”> Medical Immersion Summer Academy</a>

<h3> This is a 5 week camp that takes place in Stanford, CA and is free </h3>
<a href= “http://smysp.stanford.edu/”> Stanford Medical Youth Science Program</a>

<h3> This is a 6 week camp that takes place in Medford, MA and costs $2800 </h3>
<a href= “https://ase.tufts.edu/summer/study-bioseq.asp ”>Bioinformatics Inquiry Through Sequencing at Tufts University </a>
<h3> This is a 3 week camp that takes place in New York City, NY and costs $5,600</h3>
<a href= “http://sps.columbia.edu/highschool/summer-immersion/new-york-city-3-week/courses/explorations-in-genetics-and-molecular-biology”> Explorations in Genetics and Molecular Biology </a>

<h3> This is a 6 week camp that takes place in Princess Anne, MD and gives a $500/week stipend. </h3>
<a href= “https://www.umes.edu/cscgeosciences/”> Geosciences Bridge Paid Internship Program </a>

<h3> This is a 1 week camp that takes place in College Station, TX and is free. </h3>
<a href= “https://geosciences.tamu.edu/academics/camps_and_outreach/geox/index.php”>GeoX Summer Camp</a>
    </body>
</html>