<!DOCTYPE html>
<html>
    <head>
        <title>Science!</title>
    </head>
    <body>
         <h1>You got Science!</h1>
         <br>
        <img src="https://cdn-a.william-reed.com/var/wrbm_gb_food_pharma/storage/images/7/6/8/9/2499867-1-eng-GB/Venn-offers-7.2m-for-Kinesis-to-boost-toxicology-testing-offering.jpg" alt="science" height="350" width="500"/>
        <br>
         <h2>Summer Programs</h2>
        <br>
        <h2>There are many summer programs and opportunities available for high school students just like you! Please note that many of the following offer need-based scholarships, so the tuition listed may differ based on situation.</h2>
        <br>

        <h3> This is a 5 day camp that takes place in Oakland, CA and costs $1000 </h3>
        <a href= “http://misahealth.com/apply-online/”> Medical Immersion Summer Academy</a>

        <h3> This is a 5 week camp that takes place in Stanford, CA and is free </h3>
        <a href= “http://smysp.stanford.edu/”> Stanford Medical Youth Science Program</a>

        <h3> This is a 6 week camp that takes place in Medford, MA and costs $2800 </h3>
        <a href= “https://ase.tufts.edu/summer/study-bioseq.asp ”>Bioinformatics Inquiry Through Sequencing at Tufts University </a>
        <h3> This is a 3 week camp that takes place in New York City, NY and costs $5,600</h3>
        <a href= “http://sps.columbia.edu/highschool/summer-immersion/new-york-city-3-week/courses/explorations-in-genetics-and-molecular-biology”> Explorations in Genetics and Molecular Biology </a>

        <h3> This is a 6 week camp that takes place in Princess Anne, MD and gives a $500/week stipend. </h3>
        <a href= “https://www.umes.edu/cscgeosciences/”> Geosciences Bridge Paid Internship Program </a>

        <h3> This is a 1 week camp that takes place in College Station, TX and is free. </h3>
        <a href= “https://geosciences.tamu.edu/academics/camps_and_outreach/geox/index.php”>GeoX Summer Camp</a>

        <h3>Within the field of science, you might want to consider becoming a geologist, biologist, or physician.</h3>
        <h2> Geologist</h2>
         <h3>As a geologist, you study the composition, structure, and other physical attributes of the earth, including rocks and minerals. You use physics, mathematics, and geological knowledge in exploration for oil, gas, minerals, or underground water. You have excellent analytical and communication skills, and have the ability to understand basic engineering principles, with enthusiasm, patience and perseverance.</h3>
        <br>
        
        <h3>Colleges you might want to consider include:</h3> 
        <h3>Arkansas Tech University offers an affordable undergraduate program in Russellville, Arkansas and is a perfect fit for a science education with a less competitive acceptance process.</h3>
        <h3>University Texas at Austin is a large research focused institution that gives students opportunities to engage in modern science research, as well as countless other academic and recreational activities. </h3>
    	<h3>Stanford University offers a world renowned science department that has a global interdisciplinary focus and located in Palo Alto, California.</h3>
        <a href=“https://job-descriptions.careerplanner.com/Geologists.cfm ”>Click here for more information about becoming a geologist</a>
        <br>
        
        <h2>Physician:</h2>
         <h3>As a physician, you diagnose and treat injuries or illnesses. Physicians examine patients; take medical histories; prescribe medications; and order, perform, and interpret diagnostic tests. They often counsel patients on diet, hygiene, and preventive healthcare. You must have a strong work ethic, confidence, and compassion.</h3> 
        <h3>Colleges you might want to consider include:</h3> 
        <h3>Johns Hopkins is a world renowned institute that has Johns Hopkins Medical School and Pre- Med program in Baltimore, Maryland, making it a dream school for many inspiring physicians.</h3> 
        <h3>The University Texas at Austin is a large research focused institution that gives students opportunities to engage in modern science research, as well as countless other academic and recreational activities.</h3>
        <h3>At St. George University's 7 year Bachelors of Science and MD combined program, you can save an extra year of school (and the tution that comes with it) and live in the beautiful island of Grenada, located just northeast of Venezuela.</h3>
        <a href = “https://www.bls.gov/ooh/healthcare/physicians-and-surgeons.htm”> Find out more information here!</a>
	    <br>
	    
    	<h2>Biologist:</h2> 
        <h3>As a biologist, you can specialize in many different areas. For example, a field biologists may specialize in the study of aquatic plant and animal life. A marine biologist specialize in saltwater organisms, while limnologists specialize in freshwater organisms. You must have excellent problem-solving and communication skills, as well as accuracy and attention to detail.</h3>
        <h3>Colleges you might want to consider include:</h3> 
        <h3>Being one of the world’s most well known university for having outstanding academics across the board, Harvard’s Department of Molecular and Cellular Biology is no exception. It offers a diverse set of cutting edge research opportunities to undergraduate and graduate students alike. Continued education is often required to pursue a work in biology outside of education.</h3> 
        <h3>Texas State University's Department of Biology is a large public university located in San Marcos, Texas and is perfect for students who are looking for a research intensive academic programs and a slightly less rigorous admissions process.</h3>  
        <a href = “https://study.com/articles/Field_Biologist_Job_Description_Duties_and_Requirements.html”> Find out more information here!</a>
        <br>
        </body>
        </html>