<!DOCTYPE html>
<html>
    <head>
        <title>Technology!</title>
    </head>
    <body style="background-color:#C1EAF7;">
        <h1>You got Technology!</h1>
        <br> 
        <img src="https://webapi.project-syndicate.org/library/5e3356f0c62416a1a0602fe94dee73d9.jpg" alt="technology" height="350" width="500"/>
        <br>
        <h2>Summer Programs</h2>
        <h2>There are many summer programs and opportunities available for high school students just like you! Please note that many of the following offer need-based scholarships, so the tuition listed may differ based on situation.</h2>
        <br>
        <h3> This is a 1 week camp that takes place in multiple locations and its cost starts at $500. </h3>
        <a href= “https://www.idtech.com/courses/cybersecurity-and-encryption”>iD Tech Cybersecurity and Encryption Summer Camp</a>
        <h3> This is a 1 week camp in Stanford, CA and costs $800. </h3>
        <a href= “https://www.digitalmediaacademy.org/programming-app-development-camps/cybersecurity-ethical-hacking/”>Cybersecurity and Ethical Hacking</a>
        <h3> This is a 2 week camp that takes place in multiple locations and is free. </h3>
        <a href= “https://www.kodewithklossy.com/campscholarship”>Kode With Klossy</a>
        <h3> These are 1-3 week camps that take place in Fremont, CA and are free. </h3>
        <a href= “https://www.42.us.org/program/hackhighschool-coding-classes-kids/”>Hack High School</a>
        <h3>This is a 1 week camp that takes place in multiple locations and is free. </h3>
        <a href= “https://www.digitalmediaacademy.org/3d-modeling-design-and-animation-camps/graphic-design/”>Graphic Design Teen Summer Camp</a>
        <h3> These are 1-3 week camps that take place in New York City, NY and its cost starts at $1000. </h3>
        <a href= “https://www.nyfa.edu/summer-camps/teens/graphic-design/”>NYFA Teen Graphic Design Camps</a>
        <br>
     <h2>Within the field of technology, you might want to consider becoming a Software Developer, or Computer Graphic Designer.</h2>
        <br>
         <h2>Software Developer </h2>
         <h3>As a software developer, you'll be playing a key role in the design, installation, testing and maintenance of software systems. The programs you create are likely to help businesses be more efficient and provide a better service. You should have the ability to work independently and within groups, and analyze user needs in order to ensure a better performance of the application.</h3>
        <br>
        <h3>Colleges you might want to consider include:</h3> 
        <h3>Carnegie Mellon School of Computer Science, located in Pittsburgh Pennsylvania, is one of the oldest and best computer science programs in the country, and offers an innovative and holistic approach to technology education. </h3>
        <h3>Purdue Global University offers online and in-person certificate programs in software development for students looking to get out into the workforce without the delay of a typical four year Bachelor's program. </h3>
        <a href=“https://www.cwjobs.co.uk/careers-advice/profiles/software-developer”>Click here for more information about becoming a Software Developer</a>
        <br>
         <h2>Computer Graphic Designer</h2>
         <h3> As a computer graphic designer, you create visual concepts, by hand or using computer software, to communicate ideas that inspire, inform, or captivate consumers. You develop the overall layout and production design for advertisements, brochures, magazines, and corporate reports. You must have creativity as well as excellent time management and communication skills.</h3>
        <h3>Colleges you might want to consider include: 
        <h3> Sessions College for Professional Design offers plentiful online certification options for students looking to get into the workforce without the delay of a typical four year Bachelor's program.  </h3>
        <h3>Pearson’s School of Art and Design executes beautifully a uniquely combined cocus of creative aspects of art and technical aspects of technology to create a well rounded education.  </h3>
        <br>
    	<h2>Cybersecurity Administrator</h2>
         <h3> As a cybersecurity administrator, you defend systems against unauthorized access, modification and/or destruction. You perform vulnerability and networking scanning assessments. You monitor network traffic for unusual activity, and you configure and support security tools such as firewalls, anti-virus software, patch management systems, etc. You must have excellent analytical skills as well as time management and communication skills. </h3>
        <br>
        <h3>Colleges you might want to consider include: 
        <h3> Georgia Institute of Technology is a technology and STEM focused school that is top ranked nationally as a public research institute located in Atlanta, Georgia. . </h3> 
        <h3> Carnegie Mellon School of Computer Science, located in Pittsburgh Pennsylvania, is one of the oldest and best computer science programs in the country, and offers an innovative and holistic approach to technology education. </h3> 
        <a href=“https://www.cyberdegrees.org/jobs/security-administrator/”>Click here for more information about becoming a Security Administrator</a>
    </body>
</html>