<!DOCTYPE html>
<html>
    <head>
        <title>Technology!</title>
    </head>
    <body>
        <h1>You got Technology!</h1>
        <br>
        <img src="https://webapi.project-syndicate.org/library/5e3356f0c62416a1a0602fe94dee73d9.jpg" alt="technology" height="350" width="500"/>
        <br>
        <h2>Summer Programs</h2>
        <br>
        <h2>There are many summer programs and opportunities available for high school students just like you! Please note that many of the following offer need-based scholarships, so the tuition listed may differ based on situation.</h2>
        <br>

<h3> This is a 1 week camp that takes place in multiple locations and costs $500+. </h3>
<a href= “https://www.idtech.com/courses/cybersecurity-and-encryption”>iD Tech Cybersecurity and Encryption Summer Camp</a>

<h3> This is a 1 week camp in Stanford, CA and costs $800. </h3>
<a href= “https://www.digitalmediaacademy.org/programming-app-development-camps/cybersecurity-ethical-hacking/”>Cybersecurity and Ethical Hacking</a>
Stanford, CA, $800, 1 week

<h3> This is a 2 week camp that takes place in multiple locations and is free. </h3>
<a href= “https://www.kodewithklossy.com/campscholarship”>Kode With Klossy</a>

<h3> These are 1-3 week camps that take place in Fremont, CA and are free. </h3>
<a href= “https://www.42.us.org/program/hackhighschool-coding-classes-kids/”>Hack High School</a>

<h3>
This is a 1 week camp that takes place in multiple locations and is free. </h3>
<a href= “https://www.digitalmediaacademy.org/3d-modeling-design-and-animation-camps/graphic-design/”>Graphic Design Teen Summer Camp</a>

<h3> These are 1-3 week camps that take place in New York City, NY and cost $1000+. </h3>
<a href= “https://www.nyfa.edu/summer-camps/teens/graphic-design/”>NYFA Teen Graphic Design Camps</a>
    </body>
</html>